
/*#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue ;
    position: sticky;
top:0px;
right: 0px;

 
 }   




 #box2{
    border: 1px solid;
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
     top: 100px;
     left: 100px;
 }*/
/* position: relative;
    top: 0;
left: 150px;*/


/*.box{
 width: 250px;
 height: 250px;
 border: 1px solid;
 font-size: 40px;
 text-align: center;
 background: tomato;
}
p{
clear:left;

}*/
/*#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: greenyellow;
    padding:12px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px
    margin: 50px;
    margin-right:auto;
    margin-left: auto;
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: dodgerblue;
    padding: 12px;
}*/